.form_myForm {
  display: flex;
  flex-direction: column;
}

.Nav_div {
  /* width: 100%; */
  /* border: black 2px solid; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
